Middle latters

In [54]:
word = input("Введите слово ")

if len(word) % 2 == 0 :
   print( word[(len(word) // 2) - 1:(len(word) // 2) + 1])
else:
    print( word[len(word) // 2 ])

Введите слово qwertyu
r

Digit sum

In [51]:
sum_digit = 0
while True:
    digit = int( input("Введите цифру "))
 
    if digit == 0:
        break
    else:
        sum_digit += digit
     
print('сумма: ', sum_digit)

Введите цифру 7
Введите цифру 4
Введите цифру 63
Введите цифру 15
Введите цифру 0
сумма:  89

Dating service

In [61]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
boys.sort()
girls.sort()
couple = zip( boys, girls)
boys_amount = len(boys)
girls_amount = len(girls)
if boys_amount != girls_amount :
    print ('Внимание, кто-то может остаться без пары!')
else:
    print ( list( couple ))

[('Alex', 'Emma'), ('Arthur', 'Kate'), ('John', 'Kira'), ('Peter', 'Liza'), ('Richard', 'Trisha')]

Аverage temperature

In [89]:
countries_temperature 
Thailand = [75.2, 77, 78.8, 73.4, 68, 75.2, 77]

print ((sum (Thailand) / len (Thailand) - 32) / 1.8 )

23.857142857142854