Middle latters

In [54]:
word = input("Введите слово ")

if len(word) % 2 == 0 :
   print( word[(len(word) // 2) - 1:(len(word) // 2) + 1])
else:
    print( word[len(word) // 2 ])

Введите слово qwertyu
r

Digit sum

In [10]:
sum_digit = 0
while True:
    digit = int( input("Введите число "))
 
    if digit == 0:
        break
    else:
        sum_digit += digit
     
print('сумма: ', sum_digit)

Введите число 99
Введите число 5
Введите число 15
Введите число 33
Введите число 0
сумма:  152

Dating service

In [9]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Emma', 'Trisha','Kira' ]

boys.sort()
girls.sort()

boys_amount = len(boys)
girls_amount = len(girls)

if boys_amount != girls_amount :
    print ('Внимание, кто-то может остаться без пары!')
    
else:
    for couples in best_couple:
        couple = zip( boys, girls )
        best_couple = list( couple )
        print( couples[0] , ' и ', couples[1] )

Alex  и  Emma
Arthur  и  Kate
John  и  Kira
Peter  и  Liza
Richard  и  Trisha

Аverage temperature

In [8]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

for celsiy in countries_temperature:
    print(celsiy[0], '-', (sum(celsiy[1])/len(celsiy[1])-32)/1.8, 'C')

Thailand - 23.857142857142854 C
Germany - 13.799999999999997 C
Russia - 3.7142857142857166 C
Poland - 11.999999999999996 C